---
## Комментарий от наставника

Привет! Спасибо, что сдал задание:) В целом, работа производит положительное впечатление, однако обрати внимание на некоторые мои комментарии. Они обозначены пометкой *Комментарий от наставника*. Пострайся учесть эти комментарии в ходе дальнейшей работы.

---

## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

---
## Комментарий от наставника


Правильно, что есть краткое вступление в работу, описание того, что надо делать. В работе необходимо приводить краткий план того, что надо сделать(если этот план имеется), а также информацию о входных данных: какие столбцы есть в таблице, их названия и какую информацию они несут (см. пример). Также название работы лучше отображать в отдельной ячейке и делать крупный шрифт (заголовок). Так работа выглядит презентабельно.

<font color=red> Пример: </font>
---
Описание данных: 
- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- ...
    
---

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [1]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')
data.info()
data.head()
#data['children'].value_counts()
#data.groupby('days_employed').count()
#data['dob_years'].value_counts()
#data[data['dob_years'].unique()].sort_values(by = 'dob_years')
#data['dob_years'].unique()
#data[data['dob_years'] < 20]['dob_years'].unique()
#data['education'].value_counts()
#data['education_id'].value_counts()
#data.loc[:, ['education_id','education']]
#data.groupby('education_id')['education'].unique() #смотрим соответствие id и вида образования
#data['family_status'].value_counts()
#data['family_status_id'].value_counts()
#data.groupby('family_status_id')['family_status'].unique()
#data['gender'].value_counts()
#data['income_type'].value_counts()
#data['debt'].value_counts()
#data['purpose'].value_counts()
#data['days_employed'].isnull().sum()
#data[data['days_employed'] == 'NaN']
#data['days_employed'].max()
#data[data['days_employed'] == -18388.949900568383]
#data[data.duplicated(keep=False)]
#data.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

### Вывод

### Пропущенные значения
1. `days_employed` - 2174
2. `total_income` - 2174

*количество пропусков в этих стобцах совпадает, возможно, это связано с тем, что стаж и доход связаны, чем больше стаж, тем вероятнее больше доход*

### Информация по данным
1. 47 записей в столбце `children` со значнием `-1`
2. 76 записей в столбце `children` со значнием `20`
3. 101 запись в столбце `dob_years` со значением `0`
4. Есть `среднее`, `СРЕДНЕЕ`, `Среднее`
5. Есть `высшее`, `ВЫСШЕЕ`, `Высшее`
6. Есть `неоконченное высшее`, `Неоконченное высшее`, `НЕОКОНЧЕННОЕ ВЫСШЕЕ`
7. Есть `начальное`, `НАЧАЛЬНОЕ`, `Начальное`
8. Есть `ученая степень`, `УЧЕНАЯ СТЕПЕНЬ`, `Ученая степень`
9. Максимальный общий трудовой стаж в днях `days_employed` - 401755.40047533 (*это почти 1700 лет!!!*)
10. Минимальный общий трудовой стаж в днях `days_employed` - -18388.949900568383 (*это почти 77 лет!!!, при этом человеку всего 61 год*)

### Идентификатор образования
1. `0 - высшее`
2. `1 - среднее`
3. `2 - неоконченное высшее`
4. `3 - начальное`
5. `4 - ученная степень`

### Семейное положение
1. `0 - женат / замужем`
2. `1 - гражданский брак`
3. `2 - Не женат / не замужем`
4. `3 - в разводе`
5. `4 - вдовец / вдова`

### Пол
1. `F - 14236` - женщины (в 2 раза больше, чем мужчин)
2. `M -  7288` - мужчины
3. `XNA -   1` - *неопределившиеся???*

### Тип занятости
1. `сотрудник` -    11119
2. `компаньон` -     5085
3. `пенсионер` -     3856
4. `госслужащий` -   1459
5. `безработный` -      2
6. `предприниматель` -   2
7. `студент` -          1
8. `в декрете` -        1

### Имел ли задолженность по возврату кредитов
19784 не имело задолженности  
1741 имело


### Цели кредитов
1. свадьба
2. недвижимость
3. автомобиль
4. образование

### Дубликаты
106 строк с дубликатами (54 дубликата)

## Комментарий от наставника

Желательно выводить около 10 строчек таблицы. Меньше не рекомендуется, можно не увидеть структуру данных. Однако у меня есть несколько замечаний:
- импорт необходимых библиотек и считывание данных лучше делать в разных ячейках. Допустим, тебе надо подключить в ходе работы дополнительные библиотеки, конечно, лучше, когда они все находятся в одном месте. При импорте библиотек в этой же ячейке произойдет повторное считывание данных, и данные вернутся в исходное значение (что нам не надо);
- желательно давать переменным осознанные имена. Таблица про клиентов - название следовало выбрать соответствующее;
- при работе с DataFrame, в основном, не вызывают метод print(). Попробуй использовать метод head() в отдельной ячейке;

Все остальное описано хорошо, только код закомментированных ячеек выводил бы то же самое, поэтому не надо все переписывать руками. Перед ячейкой необходимо описать, что мы делаем, потом исполняемый код с результатом и вывод из него.

---

### Шаг 2. Предобработка данных

### Обработка пропусков

In [2]:
#Попытался заменить для каждой категории пустые значения медианой этой категории - не получилось...
#data['days_employed'] = data[data['income_type'] == 'компаньон']['days_employed'].fillna(data[data['income_type'] == 'компаньон']['days_employed'].median())
#data = data[data['income_type'] == 'пенсионер']['days_employed'].fillna(data[data['income_type'] == 'пенсионер']['days_employed'].median())
#data = data[data['income_type'] == 'госслужащий']['days_employed'].fillna(data[data['income_type'] == 'госслужащий']['days_employed'].median())
#data = data[data['income_type'] == 'сотрудник']['days_employed'].fillna(data[data['income_type'] == 'сотрудник']['days_employed'].median())
#data = data[data['income_type'] == 'предприниматель']['days_employed'].fillna(data[data['income_type'] == 'предприниматель']['days_employed'].median())
#data = data[data['income_type'] == 'компаньон']['total_income'].fillna(data[data['income_type'] == 'компаньон']['total_income'].median())
#data = data[data['income_type'] == 'пенсионер']['total_income'].fillna(data[data['income_type'] == 'пенсионер']['total_income'].median())
#data = data[data['income_type'] == 'госслужащий']['total_income'].fillna(data[data['income_type'] == 'госслужащий']['total_income'].median())
#data = data[data['income_type'] == 'сотрудник']['total_income'].fillna(data[data['income_type'] == 'сотрудник']['total_income'].median())
#data = data[data['income_type'] == 'предприниматель']['total_income'].fillna(data[data['income_type'] == 'предприниматель']['total_income'].median())
#data[data['income_type'] == 'сотрудник']['days_employed'].median() # -1574.2028211070851
#data[data['income_type'] == 'компаньон']['days_employed'].median() # -1547.3822226779334
#data[data['income_type'] == 'пенсионер']['days_employed'].median() # 365213.30626573117
#data[data['income_type'] == 'госслужащий']['days_employed'].median() # -2689.3683533043886
#data[data['income_type'] == 'безработный']['days_employed']#
#data['total_income'].mean() #167422.30220817294
#data['total_income'].median() #145017.93753253992
#data[data['income_type'] == 'компаньон']['days_employed'].median() # -1547.3822226779334
#data[data['income_type'] == 'предприниматель']['total_income'].isnull().sum()
data['days_employed'] = data['days_employed'].fillna(data['days_employed'].median())
data['total_income'] = data['total_income'].fillna(data['total_income'].median())
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

### Вывод

Заменяем пропуски в столбцах `days_employed` и `total_income` медианным значением. Удалять строки нельзя, т.к. потеряем (2174/21525) = 10% данных, а это много, и может повлять на вывод. Среднее не использую т.к. есть данные сильно выделяющиеяся из общего перечня и вносящие "помехи" в среднее значение

## Комментарий от наставника

Замена по категориям звучит логично. Чтобы ее провести необходима группировка по этой самой категории. Ее можно сделать методом groupby().

---

### Замена типа данных

In [3]:
data['days_employed'] = data['days_employed'].astype('int')
data['total_income'] = data['total_income'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

### Вывод

Заменил тип данных в `days_employed` и `total_income` с `float64` на `int64`   
Использован метод `.astype()` так как меняем с `float64` на `int64`, а `to_numeric()` меняет строковые на численные, а в этих стобцах `float64`

---
## Комментарий от наставника

Исходя из общей информации о таблице, мы видим, что 2 столбца имеют вещественный тип данных, который и нужно было заменить на целочисленный. Эта замена у тебя произведена верно.

---

### Обработка дубликатов

In [4]:
data['education'] = data['education'].str.lower()
data['children'] = data['children'].replace(-1 , 1)
data['children'] = data['children'].replace(20 , 2)
#data[data['children'] == 2] #проверяем, сработала ли замена
#data['dob_years'].mean() #43.29337979094077 
#data['dob_years'].median() #42
#data['dob_years'] = data['dob_years'].replace(0, data['dob_years'].median())
#data[data['dob_years'] == 42]
#data.duplicated().sum() #71 запись
#data['total_income'].value_counts()
#data[data['total_income'] == 126262]
#df[df[['product_uid', 'product_title', 'user']].duplicated() == True]
data = data.drop_duplicates().reset_index(drop = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21454 entries, 0 to 21453
Data columns (total 12 columns):
children            21454 non-null int64
days_employed       21454 non-null int64
dob_years           21454 non-null int64
education           21454 non-null object
education_id        21454 non-null int64
family_status       21454 non-null object
family_status_id    21454 non-null int64
gender              21454 non-null object
income_type         21454 non-null object
debt                21454 non-null int64
total_income        21454 non-null int64
purpose             21454 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

### Вывод

Дубли удаляем `df.drop_duplicates().reset_index(drop= True)`   
Дополнительно поменяем значения -1 на 1 и 20 на 2 в столбце `children`   
Возраст 0 заменим на медианный возраст `dob_years` 42

---
## Комментарий от наставника


Молодец! Обработка дубликатов произведена грамотно. Метод drop_duplicates() использован верно. Стоит сказать, что дубликаты появились из-за замен. Данный момент следует изучить отдельно, то есть найти варианты, когда замены не приводят к появлению дубликатов (если таковые имеются).

-----

### Лемматизация

In [5]:
from pymystem3 import Mystem
m = Mystem()

#lemma = data.loc[1,'purpose']
#for lemma in lemm:
#lemmas = m.lemmatize(lemma)
#print(lemmas[2]) #определяем леммы, которые потом используем в цикле для замены

#for i in range(len(data)):


def lemmatization(lemm):
    lemmas = m.lemmatize(lemm)
    if 'недвижимость' in lemmas:
        return 'недвижимость'
    if 'жилье' in lemmas:
        return 'недвижимость'
    if 'свадьба' in lemmas:
        return 'свадьба'
    if 'образование' in lemmas:
        return 'образование'
    if 'автомобиль' in lemmas:
        return 'автомобиль'
        
data['purpose_new'] = data['purpose'].apply(lemmatization)
data.head()
#data['purpose_new'].value_counts()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_new
0,1,-8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,недвижимость
1,1,-4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль
2,0,-5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,недвижимость
3,3,-4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба

### Вывод

Для лемматизации используем библиотеку `from pymystem3 import Mystem m = Mystem()`   
Всего 4 категории   
`недвижимость    10811
автомобиль       4306
образование      4013
свадьба          2324`

---
## Комментарий от наставника

Логика верна. Хорошо бы на данном шаге выделить основные леммы и объяснить данный выбор. Метод lemmatize() использован правильно. Желательно подробно описывать все свои действия.

-----

### Категоризация данных

In [19]:
def have_children(children):
    if children == 0:
        return 'нет детей'
    return 'есть дети'

data['have_children'] = data['children'].apply(have_children)

def income(total_income):
    if total_income <= 60000:
        return 'низкий доход'
    if total_income <= 160000:
        return 'средний доход'
    return 'высокий доход'

data['income'] = data['total_income'].apply(income)

data.head()

#data['total_income'].value_counts()
#data['total_income'].min() #20 667
#data['total_income'].max() #2 265 604
#data['total_income'].mean() #165 225
#data['total_income'].median() #145 017

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_new,have_children,income
0,1,-8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,недвижимость,есть дети,высокий доход
1,1,-4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль,есть дети,средний доход
2,0,-5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,недвижимость,нет детей,средний доход
3,3,-4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование,есть дети,высокий доход
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба,нет детей,средний доход

### Вывод

### Классификация по наличию детей
`0` - `нет детей`   
`1 или больше` - `есть дети`

### Классифкация по доходам
Медиана по доходам близка к среднему, и составляет ~145 000
Поэтму сделаем три категории
1. низкие доходы - меньше 60 000
2. средние доходы - меньше 160 000
3. высокие доходы - больше 160 000

---
## Комментарий от наставника

Почему именно такое разбиение столбца с доходами? Надо подробно все описывать. Можно было бы разбить по квантилям данного столбца. Это наиболее логичный способ. Также информацию о количестве детей лучше не удалять из анализа. Все-таки мы ее имеем. Наличие долга может зависеть именно от количества детей.

-----

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [47]:
pivot_table_children = data.pivot_table(index='have_children', columns='debt', values='children', aggfunc='count')
pivot_table_children['ratio'] = pivot_table_children[1]/pivot_table_children[0]*100
pivot_table_children.sort_values(by = 'ratio' , ascending = False).head()

debt               0     1      ratio
have_children
есть дети       6685   678  10.142109
нет детей      13028  1063   8.159349

### Вывод

Доля от невернувших кредиты:  
`есть дети` - 10%  
`нет детей` - 8%  
Вывод: Наличие детей повышает вероятность невозврата кредита

---
## Комментарий от наставника

Вывод не противоречит полученным результатам.

-----

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [48]:
pivot_table_family = data.pivot_table(index='family_status', columns='debt', values='gender', aggfunc='count')
pivot_table_family['ratio'] = pivot_table_family[1]/pivot_table_family[0]*100
pivot_table_family.sort_values(by = 'ratio' , ascending = False).head()

debt                       0    1      ratio
family_status
Не женат / не замужем   2536  274  10.804416
гражданский брак        3763  388  10.310922
женат / замужем        11408  931   8.160940
в разводе               1110   85   7.657658
вдовец / вдова           896   63   7.031250

### Вывод

Самые надежные это `вдовец / вдова`,  
самые ненадежные - `Не женат / не замужем`

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [49]:
pivot_table_income = data.pivot_table(index='income', columns='debt', values='gender', aggfunc='count')
pivot_table_income['ratio'] = pivot_table_income[1]/pivot_table_income[0]*100
pivot_table_income.sort_values(by = 'ratio' , ascending = False).head()

debt               0     1     ratio
income
средний доход  11376  1054  9.265120
высокий доход   7580   638  8.416887
низкий доход     757    49  6.472919

### Вывод

Больше всего не возвращают кредиты со `средним доходом`,  
а самые надежные - это те, у кого `низкий доход`

- Как разные цели кредита влияют на его возврат в срок?

In [50]:
pivot_table_purpose = data.pivot_table(index='purpose_new', columns='debt', values='gender', aggfunc='count')
pivot_table_purpose['ratio'] = pivot_table_purpose[1]/pivot_table_purpose[0]*100
pivot_table_purpose.sort_values(by = 'ratio' , ascending = False).head()

debt              0    1      ratio
purpose_new
автомобиль     3903  403  10.325391
образование    3643  370  10.156464
свадьба        2138  186   8.699719
недвижимость  10029  782   7.797388

### Вывод

Лучше всего возвращают кредиты на `недвижимость`, хуже всего на `автомобиль`

---
## Комментарий от наставника

Здорово, что использован метод сводных таблиц. Везде представлены выводы, что хорошо.

-----

### Шаг 4. Общий вывод

Самые надежные клиенты это - вдовец/вдовца без детей с низким доходм, покупающий недвижимость

---
## Комментарий от наставника

Выводы описаны слишком кратко. По каждому пункту из задания нужно представить вывод. Можно привести некое финальное портфолио клиентов. В выводах можно приводить полученные ранее значения. В дальнейшем надо будет проверять полученные значения с помощью статистических критериев, так как разница в 1% кажется небольшой. Желательно подробно расписать все, что было сделано и какими методами. Так ты лишний раз вспомнишь, что делает та или иная функция.

---

## Комментарий от наставника

- Вначале работы следует описывать данные с которыми работаешь;
- Необходимо научиться выдвигать больше гипотез и проверять их;
- Всегда объясняй все свои действия;
- Хорошо бы оставлять комментарии в коде. Так и тебе, и другим людям будет понятно, что делает определенный кусок кода;
- Выводы всегда пиши подробно - это результат твоей работы.

Ты проделал отличную работу, молодец! Продолжай в том же духе :)

-----

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.